body{
    margin: 0;
    background-image: linear-gradient(#616161, black);
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 50;
}

header{
    background-color: black;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    float: left;
} 

.yellow{
    color: yellow;
    font-size: large;
    margin: 0px;
}

header .explore .menu{
    display: flex;
    justify-content: space-between;
}

header .explore .menu a{
    /* text-decoration: none; */
    color: white;   
    border: white solid 1px;
    margin: 5px;
    padding: 10px;
}
header .explore .menu a:hover{
    background-color: white;
    color: black;
}

.gray{
    background-color: #494949;
    color: #303030;
} 
svg{
    width: 20px;
    fill: rgb(228, 228, 228);
} 
/* svg:hover{
    fill: white;
} */
h1{
    font-size: 3em;
    line-height: 1em;
}
h2{
    font-size: 2em;
    font-weight: 100;
}

.dropbtn{
    display: none;
}
.dropdown .dropdown-content{
    display: flex;
    justify-content: space-between;
}

.dropdown .dropdown-content a{
    color: white;
    text-decoration: none;
    margin: 10px;
    border: 0px solid;
    border-radius: 5px;
    background-color: #494949;
    padding: 10px 20px;
}


main{
    margin: 30px;
    width: 45%;
    float: left;
}

main a{
  text-decoration: none;
  font-size: large;
  color: white;
  /* border: black solid 2px; */
  margin: 20px;
  padding: 20px;
  /* text-align: center; */
}

.btn-wrapper{
    /* width: fit-content; */
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    /* text-align: center; */
}

.btn-wrapper a{
    font-size: 1.5em;
    font-weight: bold;
}

main .green{
    background-color: #36c03b;
    color: black;
}

main .learn{
    background-color: black;
}
section{
   margin: 10px; 
   width: 45%;
   float: right;
}
section .blue{
    color: #41b6ba;
}

section img{
    /* margin: 5%; */
    width: 100%;
}
 
footer{  
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
}

footer .cp {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    /* justify-content: space-evenly; */
}
footer .cp a{
    text-decoration: none;
    background-color: #303030;
    color: white;
    border: white solid 1px;
    /* margin: 0px 10px; */
    padding: 20px 50px;
    width: 100%;
}
footer .cp a:hover{
    background-color: white;
    color: black;
}

